[Desktop Entry]
Version=1.0
Type=Application
Name=FatCatQueue
Icon=fcqueue
Exec=/opt/fcqueue/FatCatQueue
Comment=FatCatQueue
Categories=GNOME;GTK;Development;Documentation;
Terminal=false
